html,body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#main{
	width:365px;
	margin:40px auto;
	font-size:1.2em;
}

#main input{
	font-size: 1.2em;
}

#main div{
	width: 32px;
	height: 32px;
	background-image: url(326px)
	position: relative;
	top: -33px;
	left: 327px;
}

#main input[type="text"]{
	width: 247px;
	position: relative;
	top: -45px;
	left: 16px;
	border: none;
	z-index: -10;
}